.dropzone {
    background-color: unset;
    color: white;
    border-color: white;
    width: 100%;
}

.dropzone-item {
    color: black;
}

.form {
    width: 80%;
}

.mat-card {
    margin: 16px 32px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
 
.example-radio-button {
   margin: 5px;
}
  