.navigation-bar {
    width: 100%;
    height: 48px;
    background-color: lightgray;
}

.nav-btn {
    height: 100%;
    width: 150px;
    background: none;
    border: none;
    text-decoration: none;
    outline: none;
}

.nav-btn:hover {   
    background-color: gray;
}

.nav-btn:active {
    background-color: red;
}