<div class="grid-container">
  <div fxLayout="row wrap" fxLayoutAlign="space-between center">
    <span class="mat-h1">Dashboard</span>
    <span class="mat-h3"> {{platform}} - {{uptime}}</span>
  </div>
  <mat-grid-list cols="3" rowHeight="350px">

    <!-- // SERVER -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            NodeJS server
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div class="content">
            <mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <div 
                  class="status"
                  [ngClass]="element.status ? 'on' : 'off'"
                  (click)="updateStatus(element)"></div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef> Application </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="port">
                <mat-header-cell *matHeaderCellDef> Port </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.port}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="filename">
                <mat-header-cell *matHeaderCellDef> Nom du fichier </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.startableFile}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="action">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="onEdit(element)">
                      <mat-icon color="accent">edit</mat-icon>
                      <span>Modifier</span>
                    </button>
                    <button mat-menu-item (click)="onDelete(element)">
                      <mat-icon color="warn">delete</mat-icon>
                      <span>Supprimer</span>
                    </button>
                  </mat-menu>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="dashboard-card">
        <mat-card-header>
          <mat-card-title>
            Ressources
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <h1 class="mat-h1">CPU</h1>
          <div id="model">{{model}}</div>
          <mat-progress-bar mode="determinate" [value]="usageavg" color="warn" style="height: 40px;">
          </mat-progress-bar>
          <div class="progress-bar-text-container">
            <span class="progress-bar-text"> {{ usageavg }}%</span>
          </div>
          <h1 class="mat-h1">Memory</h1>
          <div id="memory-usage">
            <mat-progress-bar mode="determinate" [value]="memUsageAvg" color="warn" style="height: 40px;">
            </mat-progress-bar>
            <div class="progress-bar-text-container">
              <span class="progress-bar-text">{{memUsagePer}}</span>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>



  </mat-grid-list>
</div>