<div class="header">
    <h1>Applications Manager</h1>
</div>
<div class="body">
    <div class="servers-manage">
        <button id='add' class='btn'>add</button>
        <div id="create-form">
            <input type="text" #iname id="iname" placeholder="name" required>
            <input type="text" id="ipath" placeholder="path" required>
            <input type="text" id="iport" placeholder="port" required>
            <input type="text" id="iStartableFile" placeholder="StartableFile" required>
            <button id="create" class="btn">Create</button>
        </div>
        <div id="listServer"></div>
    </div>
    <div id="system-info">
        <div class="os">
            <h2>OS</h2>
            <div id="platform"></div>
            <div id="version"></div>
            <div id="uptime"></div>
        </div>
        <br>
        <div class="cpu">
            <h2>CPU</h2>
            <div id="model"></div>
            <div id="cpu-usage">
                <div id="cpu-usage-avg"></div>
                <div id="cpu-usage-per"></div>
            </div>
        </div>
        <br>
        <div class="memory">
            <h2>Memory</h2>
            <div id="memory-usage">
                <div id="memory-usage-avg"></div>
                <div id="memory-usage-per"></div>
            </div>
            <div id="total"></div>
            <div id="free"></div>
        </div>
    </div>
</div>





<script src="/socket.io/socket.io.js"></script>
<script src="app.js"></script>
</body>
